<div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <% if(postPic[String(post.id)]){ %>
            <div class="col-md-4">
            <%- include('./img_tag.ejs',
            {
                src:   postPic[String(post.id)][0].path  ,
                classes:"post-photo",etc:"style=\"width: 100%;height: 100%;\"" 
            })%>
            </div>
            <% } %>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= post.nickname %></p>
              <p class="card-text"><small class="text-body-secondary time_"><%= new Date(post.createdAt.setTime(post.createdAt.getTime()-post.createdAt.getTimezoneOffset()*60*1000))%></small></p>
              <button class="btn btn-outline-success" onclick="gotoPost('<%=post.id %>')">자세히 보기</button>            
            </div>
          </div>
        </div>
      </div>
</div>